In [ ]:
# In python version_1 : print(my name is kamal)
# In python version_2 : print "my name is kamal"
# In python version_3 : print('my name is kamal')  | 'write' ,"write","""write"""

In [6]:
print('my name is kamal I love holly movies my age is 27')
# print should be in between the quotes

my name is kamal I love holly movies my age is 27

In [7]:
# single quote
print('my name is kamal I love holly movies my age is 27')

my name is kamal I love holly movies my age is 27

In [10]:
# double quote 
print("my name is kamal age is 27 ")

my name is kamal age is 27

In [11]:
# thriple quote 
print("""I love data science""")

I love data science

In [13]:
print('I am cv scientist')

I am cv scientist

### we can add print conditions along with variables to make a proper outputs

In [17]:
# expected output = my age is 30 
# use variables if available

In [14]:
age = 30

print('I love python language from past 30 years')

I love python language from past 30 years

## using comma(,)

In [20]:
age = 30

print('my age is',age)

my age is 30

In [27]:
course = 'data science'
place = 'vihara tech'
duration = 5

# expected output = I am learning data science in vihara tech for 5 months 

print('I am learning',course,'in',place,'for',duration,'months')

I am learning data science in vihara tech for 5 months

In [31]:
movie='AI'
hero='shakruk'
budget=1000

# expected output = sharuk khan was acting in a movie called AI with budget 1000 crores 
print(hero,"khan was acting in a movie called",movie,"with budget",budget,'crores')

shakruk khan was acting in a movie called AI with budget 1000 crores