In [1]:
# sets

In [3]:
a = {10,15.5,'data science'}
print(a)
print(type(a))

{'data science', 10, 15.5}
<class 'set'>

In [4]:
a = {10,15.5,'data science'}
print(a)
print(type(a))
print(a[2])  # you cant use index in sets concept

{'data science', 10, 15.5}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [5]:
# duplicates will be removed in the sets 
a = {10,20,30,10,20,40}
print(a)

{40, 10, 20, 30}

In [7]:
# dont use mutable inside a set use only immutable 
# sets are mutable but dont use mutable data types inside sets 
a = {10 , 15.5 , 'python' , (1,2,34)}
print(a)

{'python', 10, (1, 2, 34), 15.5}

In [8]:
# dont use mutable inside a set use only immutable 
# sets are mutable but dont use mutable data types inside sets 
a = {10 , 15.5 , 'python' , (1,2,34) , [10,20,30]}
print(a)

TypeError: unhashable type: 'list'

# sets conditions 

- sets are mutable 
- sets dont follow any order [it is an unordered pair]
- sets remove duplicates data 
- sets will work only with immutable data type [dont pass mutable inside a sets]

In [11]:
a = {10,20,30,10,20,40}
print(a[3])    # index is not possible in sets

TypeError: 'set' object is not subscriptable

In [12]:
# try slicing 
a = {10,20,30,10,20,40}
print(a[:])

TypeError: 'set' object is not subscriptable

In [13]:
# try slicing 
a = {10,20,30,10,20,40}
print(a[::-1])

TypeError: 'set' object is not subscriptable

### know we need to prove that sets are mutable

In [14]:
a = [10 , 15.5 , 'python' , (1,2,34)]
print(a[3][1])

2

## important functions 
- add
- clear
- copy
- discard
- intersection
- union
- pop 
- remove 
- update

In [16]:
# addition 

# add
a = {10 , 15.5 , 'python' , (1,2,34)}
a.add(500) # this 500 can be added anywhere in sets because there is no order for set 
print(a)

{'python', 10, 15.5, 500, (1, 2, 34)}

In [17]:
# deleting 
a = {10 , 15.5 , 'python' , (1,2,34)}
del a[2]   # this is not possible because there is no index

TypeError: 'set' object doesn't support item deletion

In [19]:
a = [1,2,3,4]
a.pop()
print(a)

[1, 2, 3]

In [22]:
# deleting [using pop]
a = {10 , 15.5 , 'python' , (1,2,34)}
a.pop()  # randomlly one value will be removed 
print(a)

{10, (1, 2, 34), 15.5}

In [ ]:
# discard = will remove the value if present or if the value is not present it will return the set as it is

In [25]:
# deleting [using discard]
a = {10 , 15.5 , 'python' , (1,2,34)}
a.discard(100)
print(a)

{'python', 10, (1, 2, 34), 15.5}

In [26]:
# remove = will remove the value if present or if the value is not present it will through an error

In [34]:
# deleting [using remove]
a = {10 , 15.5 , 'python' , (1,2,34)}
a.remove(100)
print(a)

KeyError: 100

In [40]:
## replace is not possible in sets because index is not available 
## update means we can add more data [increasig the memory ]
a = {10 , 15.5 , 'python' , (1,2,34)}
a.update('AI')   # update is not a good approach
print(a)

{'A', 'python', 10, 15.5, (1, 2, 34), 'I'}

In [42]:
a = {10 , 15.5 , 'python' , (1,2,34)}
a.update([500,1000,2000])   # update is used to add multiple values at a time 
print(a)

{'python', 1000, 10, 15.5, 2000, 500, (1, 2, 34)}

In [41]:
# addition 

# add
a = {10 , 15.5 , 'python' , (1,2,34)}
a.add(500,10000) # this 500 can be added anywhere in sets because there is no order for set 
print(a)

TypeError: set.add() takes exactly one argument (2 given)

#### from the above concept we can say sets are Mutable

In [49]:
# clear

a = {10 , 15.5 , 'python' , (1,2,34)}
a.clear() # remove entire data from the set it keeps only empty 
print(a)

set()

In [48]:
a = set()
print(type(a))

<class 'set'>

In [50]:
# copy 
a = {10 , 15.5 , 'python' , (1,2,34)}
b = a.copy()
print(a)
print(b)

{'python', 10, (1, 2, 34), 15.5}
{'python', 10, (1, 2, 34), 15.5}

In [51]:
# union = add all values 
a = {1,2,4,5,7,8,9,10}
b = {5,11,12}
print(a.union(b))

{1, 2, 4, 5, 7, 8, 9, 10, 11, 12}

In [52]:
# intersection = common elements 
a = {1,2,4,5,7,8,9,10}
b = {5,11,12}
print(a.intersection(b))

{5}